@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    max-width: 375px;
    margin: auto;
}
$c-red: #ff3839;
$f-Inter: "Inter", sans-serif;
$f-Poppins: "Poppins", sans-serif;

@mixin redSpan{
    color: $c-red;
    font-weight: 700;
}

section {
    h1{
        font: normal 700 35px $f-Poppins;
        line-height: 125.5%;
        letter-spacing: 0.03em;
        span{
            @include redSpan;
        }
    }
    p{
        font: normal 400 14px $f-Poppins;
        line-height: 155%;
        text-align: justify;
        letter-spacing: 0.03em;
    }
}

a.button {
    display: inline-block;
    background-color: $c-red;
    border-radius: 5px;
    padding: 12px 20px;
    font: normal 400 16px $f-Poppins;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
}

header {
    background: #202020;
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 21px 20px;
        .nav {
            &__burger {
                color: #fff;
                font-size: 23px;
            }
            &__logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                span {
                    font: normal 600 16px $f-Inter;
                    line-height: 29px;
                    color: #fff;
                }
            }
            &__menu {
                display: none;
            }
            &__contact {
                background: $c-red;
                border-radius: 5px;
                padding: 8px 13px;
                font-style: normal 400 12px $f-Poppins;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #fff;
            }
        }
    }
}

.sec1 {
    // background: url(../img/graphic-designers-meeting.png) no-repeat;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 780px;
        h5 {
            font: normal 400 16px $f-Poppins;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #fff;
            margin-bottom: 14px;
            span {
                @include redSpan();
            }
        }
        h1 {
            font: normal 700 32px $f-Poppins;
            line-height: 128.5%;
            letter-spacing: 0.03em;
            color: #fff;
        }
        &__line {
            width: 60%;
            height: 2px;
            margin-left: 25%;
            background-color: $c-red;
        }
        p {
            margin: 18px 0 30px;
            font: normal 400 13px $f-Poppins;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #ffffff;
        }
        .buttons {
            display: flex;
            gap: 19px;
            a.button {
                &:last-child {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}

.sec2{
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0;
        &--imgs{
            position: relative;
            img {
                &:last-child{
                    position: absolute;
                    width: 50%;
                    bottom: -5%;
                    right: 5%;
                }
            }
        }
        &--text{
            padding-top: 40px;
            h5{
                font: normal 400 16px $f-Poppins;
                line-height: 155%;
                letter-spacing: 0.03em;
                color: #696969;
                span{
                    @include redSpan();
                }
            }
            h1{
                color: #000000;
                margin: 10px 0 20px;
            }
            p{
                color: #696969;
            }
            a.button{
                margin-top: 10px;
            }
        }
    }
}

.sec3{
    background-color: #202020;
    &__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0;
        &--text{
            h5{
                font: normal 700 16px $f-Poppins;
                line-height: 155%;
                letter-spacing: 0.03em;
                color: #F8F8F8;
                span{
                    @include redSpan;
                }
            }
            h1{
                color: #F8F8F8;
                margin: 10px 0 20px;
            }
            p{
                color: #fff;
            }
            a.button{
                margin: 20px 0 60px;
            }
        }
        &--services{
            display: flex;
            justify-content: center;
            gap: 60px 20px;
            flex-wrap: wrap;
            article.service{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                background-color: #fff;
                border-radius: 5px;
                max-width: 260px;
                height: 170px;
                position: relative;
                div.icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 82px;
                    height: 82px;
                    position: absolute;
                    top: -41px;
                    left: 50%;
                    transform: translateX(-50%);
                    border: 3px solid #FFFFFF;
                    border-radius: 50%;
                    background-color: $c-red;
                }
                h6{
                    font: normal 700 16px $f-Poppins;
                    line-height: 24px;
                    letter-spacing: 0.03em;
                    color: #000000;
                    margin: 30px 0 0;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}

.sec4{
    background-color: #fff;
    &__row{
        text-align: center;
        padding: 40px 0;
        h5{
            font: normal 400 16px $f-Poppins;
            line-height: 155%;
            text-align: center;
            letter-spacing: 0.03em;
            color: #696969;
        }
        h1{
            margin: 15px 0 0;
        }
        .categories{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            margin: 30px 0;
            a.button:not(:first-child){
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 25px;
                background: #F2F2F2;
                border-radius: 5px;
                font: normal 400 16px $f-Poppins;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #000000;
            }
        }
        .imgs{
            display: flex;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
            gap: 24px;
            img{
                max-width: 250px;
            }
        }
    }
}

.sec5{
    background: #202020;
    &__row{
        padding: 40px 0;
        text-align: center;
        h5{
            font: normal 700 16px $f-Poppins;
            line-height: 155%;
            text-align: center;
            letter-spacing: 0.03em;
            color: #F7F7F7;
            span{
                @include redSpan;
            }
        }
        h1{
            color: #FFFFFF;
            margin: 19px 0 70px;
        }
        .feedbacks{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 60px 30px;
            .feedback{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                max-width: 370px;
                padding: 0 18px 18px;
                background: #FFFFFF;
                border-radius: 5px;
                position: relative;
                .quote{
                    width: 100px;
                    height: 100px;
                    background: #FF3839;
                    border-radius: 50%;
                    border: 3px solid #FFFFFF;
                    position: absolute;
                    top: -50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font: normal 400 64px $f-Poppins;
                    line-height: 155%;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #FFF;
                }
                h6{
                    font: normal 700 16px $f-Poppins;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #000000;
                    margin: 60px 0 0;
                }
                p{
                    font: normal 400 11px $f-Poppins;
                    line-height: 155%;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: #696969;
                }
            }
        }
    }
}

.sec6{
    &__row{
        text-align: center;
        padding: 40px 0;
        h5{
            font: normal 400 16px $f-Poppins;
            line-height: 155%;
            letter-spacing: 0.03em;
            color: #696969;
        }
        h1{
            margin: 24px 0 75px;
        }
        .accordion{
            .faq{
                background: #F1F1F1;
                border-radius: 5px;
                font: normal 400 16px $f-Poppins;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #333335;
                padding: 30px 36px;
                display: flex;
                justify-content: space-between;
                &:first-child{
                    color: #fff;
                    background: #202020;
                }
            }
            p{
                padding: 25px 36px 12px;
            }                    
        }
    }
}

.sec7{
    background: #F1F1F1;
    &__row{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 0;
        .form{
            h5{
                font: normal 700 16px $f-Poppins;
                line-height: 155%;
                letter-spacing: 0.03em;
                color: #FF3839;
            }
            h1{
                margin: 19px 0 31px;
            }
            p{
                font: normal 400 16px $f-Poppins;
                line-height: 155%;
                text-align: justify;
                letter-spacing: 0.03em;
                color: #696969;
                margin-bottom: 23px;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 23px;
                align-items: start;
                input, textarea{
                    width: 100%;
                    padding: 17px 21px;
                    font: normal 400 16px $f-Poppins;
                    line-height: 155%;
                    letter-spacing: 0.03em;
                    color: #000000;
                    outline: none;
                    border-radius: 5px;
                    border: 2px solid #ddd;
                }
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    a.button {
        width: 180px;
    }
    section{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 16px;
        }
    }
    .sec1 {
        .center {
            h1 {
                font-size: 55px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    section{
        h1{
            font-size: 40px;
        }
    }
    header {
        nav {
            .nav {
                &__burger {
                    display: none;
                }
                &__logo {
                    svg {
                        width: 40px;
                        height: 41px;
                    }
                    span {
                        font-size: 18px;
                    }
                }
                &__menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    li {
                        a {
                            padding: 5px 8px;
                            font: normal 400 13px $f-Poppins;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            color: #fff;
                            &.active,
                            &:hover {
                                color: $c-red;
                            }
                        }
                    }
                }
                &__contact {
                    font-size: 16px;
                    transition: color 0.5s;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
    .sec2{
        &__row{
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            text-align: justify;
            &--imgs{
                img{
                    &:first-child{
                        max-width: 400px;
                    }
                    &:last-child{
                        right: -5%;
                    }
                }
            }
            &--text{
                h1{
                    text-align: left;
                    margin: 19px 0 31px;
                }
                a.button{
                    text-align: center;
                    margin-top: 30px;
                }
            }
        }
    }
    .sec3{
        &__row{
            flex-direction: row;
            padding: 100px 15px;
            gap: 45px;
            &--text{
                width: 50%;
                p{
                    font-size: 16px;
                }
            }
            &--services{
                width: 50%;
            }
        }
    }
    .sec4{
        &__row{
            padding: 80px 0;
        }
    }
    .sec5{
        &__row{
            text-align: justify;
            padding: 80px 0px;
            h5{
                text-align: justify;
                padding: 0 40px;
            }
            h1{
                padding: 0 40px;
            }
        }
    }
    .sec6{
        &__row{
            padding: 110px 40px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1170px;
    }
    section{
        h1{
            font-size: 48px;
        }
    }
    header {
        nav {
            .nav {
                &__logo {
                    svg {
                        width: 50px;
                        height: 53px;
                    }
                    span {
                        font-size: 24px;
                    }
                }
                &__menu {
                    li {
                        a {
                            font-size: 16px;
                        }
                    }
                }
                &__contact {
                    padding: 10px 17px;
                }
            }
        }
    }
    .sec1 {
        .center {
            h1 {
                font-size: 70px;
            }
        }
    }
    .sec2{
        &__row{
            padding: 80px 40px;
            gap: 80px;
            &--imgs{
                img{
                    &:last-child{
                        width: 75%;
                        right: -20%;
                        bottom: -20%;
                    }
                }
            }
            &--text{
                padding-left: 100px;
            }
        }
    }
    .sec4{
        &__row{
            .categories{
                margin: 47px 0 50px;
            }
        }
    }
}
