@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 375px;
  margin: auto;
}

section h1 {
  font: normal 700 35px "Poppins", sans-serif;
  line-height: 125.5%;
  letter-spacing: 0.03em;
}
section h1 span {
  color: #ff3839;
  font-weight: 700;
}
section p {
  font: normal 400 14px "Poppins", sans-serif;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
}

a.button {
  display: inline-block;
  background-color: #ff3839;
  border-radius: 5px;
  padding: 12px 20px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: all 1s;
}
a.button:hover {
  background-color: #fff;
  color: #000;
}

.perfect-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background: #202020;
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 20px;
}
header nav .nav__burger {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
header nav .nav__burger::before {
  content: "\f0c9";
  font-family: FontAwesome;
}
header nav .nav__burger.active::before {
  content: "\f00d";
  font-family: FontAwesome;
}
header nav .nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
header nav .nav__logo span {
  font: normal 600 16px "Inter", sans-serif;
  line-height: 29px;
  color: #fff;
}
header nav .nav__menu {
  display: none;
  background: #202020;
  list-style-type: none;
}
header nav .nav__menu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 100%;
  padding: 30px;
  left: 0;
  top: 80px;
}
header nav .nav__menu.active li {
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
header nav .nav__menu.active li.active, header nav .nav__menu.active li:hover {
  background-color: #ff3839;
}
header nav .nav__menu.active li a {
  font: normal 400 18px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}
header nav .nav__contact {
  background: #ff3839;
  border-radius: 5px;
  padding: 8px 13px;
  font-style: normal 400 12px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.sec1 {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.sec1 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 780px;
}
.sec1 .center h5 {
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 14px;
}
.sec1 .center h5 span {
  color: #ff3839;
  font-weight: 700;
}
.sec1 .center h1 {
  font: normal 700 32px "Poppins", sans-serif;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: #fff;
}
.sec1 .center__line {
  width: 60%;
  height: 2px;
  margin-left: 25%;
  background-color: #ff3839;
}
.sec1 .center p {
  margin: 18px 0 30px;
  font: normal 400 13px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.sec1 .center .buttons {
  display: flex;
  gap: 19px;
}
.sec1 .center .buttons a.button:last-child {
  background-color: #fff;
  color: #000;
}

.sec2__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}
.sec2__row--imgs {
  position: relative;
}
.sec2__row--imgs img:last-child {
  position: absolute;
  width: 50%;
  bottom: -5%;
  right: 5%;
}
.sec2__row--text {
  padding-top: 40px;
}
.sec2__row--text h5 {
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #696969;
}
.sec2__row--text h5 span {
  color: #ff3839;
  font-weight: 700;
}
.sec2__row--text h1 {
  color: #000000;
  margin: 10px 0 20px;
}
.sec2__row--text p {
  color: #696969;
}
.sec2__row--text a.button {
  margin-top: 10px;
}

.sec3 {
  background-color: #202020;
}
.sec3__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}
.sec3__row--text h5 {
  font: normal 700 16px "Poppins", sans-serif;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #f8f8f8;
}
.sec3__row--text h5 span {
  color: #ff3839;
  font-weight: 700;
}
.sec3__row--text h1 {
  color: #f8f8f8;
  margin: 10px 0 20px;
}
.sec3__row--text p {
  color: #fff;
}
.sec3__row--text a.button {
  margin: 20px 0 60px;
}
.sec3__row--services {
  display: flex;
  justify-content: center;
  gap: 60px 20px;
  flex-wrap: wrap;
}
.sec3__row--services article.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 260px;
  height: 170px;
  position: relative;
}
.sec3__row--services article.service div.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #ff3839;
}
.sec3__row--services article.service h6 {
  font: normal 700 16px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 30px 0 0;
}
.sec3__row--services article.service p {
  text-align: center;
}

.sec4 {
  background-color: #fff;
}
.sec4__row {
  text-align: center;
  padding: 40px 0;
}
.sec4__row h5 {
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
}
.sec4__row h1 {
  margin: 15px 0 0;
}
.sec4__row .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px 0;
}
.sec4__row .categories a.button:not(:first-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: #f2f2f2;
  border-radius: 5px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}
.sec4__row .imgs {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 24px;
}
.sec4__row .imgs img {
  max-width: 250px;
}

.sec5 {
  background: #202020;
}
.sec5__row {
  padding: 40px 0;
  text-align: center;
}
.sec5__row h5 {
  font: normal 700 16px "Poppins", sans-serif;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f7f7f7;
}
.sec5__row h5 span {
  color: #ff3839;
  font-weight: 700;
}
.sec5__row h1 {
  color: #ffffff;
  margin: 19px 0 70px;
}
.sec5__row .feedbacks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px 30px;
}
.sec5__row .feedbacks .feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 370px;
  padding: 0 18px 18px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}
.sec5__row .feedbacks .feedback .quote {
  width: 100px;
  height: 100px;
  background: #ff3839;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 400 64px "Poppins", sans-serif;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}
.sec5__row .feedbacks .feedback h6 {
  font: normal 700 16px "Poppins", sans-serif;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 60px 0 0;
}
.sec5__row .feedbacks .feedback p {
  font: normal 400 11px "Poppins", sans-serif;
  line-height: 155%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #696969;
}

.sec6__row {
  text-align: center;
  padding: 40px 0;
}
.sec6__row h5 {
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #696969;
}
.sec6__row h1 {
  margin: 24px 0 75px;
}
.sec6__row .accordion .faq {
  background: #f1f1f1;
  border-radius: 5px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #333335;
  padding: 30px 36px;
  display: flex;
  justify-content: space-between;
}
.sec6__row .accordion .faq:first-child {
  color: #fff;
  background: #202020;
}
.sec6__row .accordion p {
  padding: 25px 36px 12px;
}

.sec7 {
  background: #f1f1f1;
}
.sec7__row {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  padding: 40px 0;
}
.sec7__row .form h5 {
  font: normal 700 16px "Poppins", sans-serif;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #ff3839;
}
.sec7__row .form h1 {
  margin: 19px 0 31px;
}
.sec7__row .form p {
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #696969;
  margin-bottom: 23px;
}
.sec7__row .form form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: start;
}
.sec7__row .form form input,
.sec7__row .form form textarea {
  width: 100%;
  padding: 17px 21px;
  font: normal 400 16px "Poppins", sans-serif;
  line-height: 155%;
  letter-spacing: 0.03em;
  color: #000000;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ddd;
}
.sec7__row .bg-img img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
}

footer {
  background-color: #202020;
}
footer .row1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
footer .row1 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px 0;
}
footer .row1 .container .details {
  text-align: center;
}
footer .row1 .container .details p {
  font: normal 400 13px "Poppins", sans-serif;
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #f8f8f8;
  margin: 40px 0 15px;
}
footer .row1 .container .details .icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .row1 .container .details .icons .icon {
  background-color: #ff3839;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
footer .row1 .container .details h6 {
  font: normal 700 20px "Poppins", sans-serif;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 30px;
}
footer .row1 .container .details ul {
  list-style-type: none;
}
footer .row1 .container .details ul li a {
  font: normal 300 14px "Poppins", sans-serif;
  line-height: 41px;
  color: #ffffff;
}
footer .row2 .container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  gap: 30px;
  text-align: center;
  font: normal 300 16px "Poppins", sans-serif;
  color: #ffffff;
  line-height: 24px;
}
footer .row2 .container ul {
  list-style-type: none;
}
footer .row2 .container ul li a {
  line-height: 36px;
  text-decoration-line: underline;
  color: #ffffff;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  a.button {
    width: 180px;
  }
  section h1 {
    font-size: 40px;
  }
  section p {
    font-size: 16px;
  }
  .sec1 .center h1 {
    font-size: 55px;
  }
  .sec1 .center p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
  section h1 {
    font-size: 40px;
  }
  header nav .nav__burger {
    display: none;
  }
  header nav .nav__logo svg {
    width: 40px;
    height: 41px;
  }
  header nav .nav__logo span {
    font-size: 18px;
  }
  header nav .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  header nav .nav__menu li a {
    padding: 5px 8px;
    font: normal 400 13px "Poppins", sans-serif;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
  }
  header nav .nav__menu li a.active, header nav .nav__menu li a:hover {
    color: #ff3839;
  }
  header nav .nav__contact {
    font-size: 16px;
    transition: color 0.5s;
  }
  header nav .nav__contact:hover {
    background-color: #fff;
    color: #000;
  }
  .sec2__row {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    text-align: justify;
  }
  .sec2__row--imgs img:first-child {
    max-width: 400px;
  }
  .sec2__row--imgs img:last-child {
    right: -5%;
  }
  .sec2__row--text h1 {
    text-align: left;
    margin: 19px 0 31px;
  }
  .sec2__row--text a.button {
    text-align: center;
    margin-top: 30px;
  }
  .sec3__row {
    flex-direction: row;
    padding: 100px 15px;
    gap: 45px;
  }
  .sec3__row--text {
    width: 50%;
  }
  .sec3__row--text p {
    font-size: 16px;
  }
  .sec3__row--services {
    width: 50%;
  }
  .sec4__row {
    padding: 80px 0;
  }
  .sec5__row {
    text-align: justify;
    padding: 80px 0px;
  }
  .sec5__row h5 {
    text-align: justify;
    padding: 0 40px;
  }
  .sec5__row h1 {
    padding: 0 40px;
  }
  .sec6__row {
    padding: 110px 40px;
  }
  .sec7__row {
    padding: 80px 40px;
    flex-direction: row;
  }
  .sec7__row .form {
    width: 80%;
  }
  footer .row1 .container {
    flex-wrap: nowrap;
    gap: 40px;
    align-items: start;
  }
  footer .row1 .container .details {
    width: 25%;
  }
  footer .row1 .container .details .icons {
    justify-content: start;
  }
  footer .row2 .container {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .row2 .container ul {
    display: flex;
    gap: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1170px;
  }
  section h1 {
    font-size: 48px;
  }
  header nav .nav__logo svg {
    width: 50px;
    height: 53px;
  }
  header nav .nav__logo span {
    font-size: 24px;
  }
  header nav .nav__menu li a {
    font-size: 16px;
  }
  header nav .nav__contact {
    padding: 10px 17px;
  }
  .sec1 .center h1 {
    font-size: 70px;
  }
  .sec2__row {
    padding: 80px 40px;
    gap: 80px;
  }
  .sec2__row--imgs img:last-child {
    width: 75%;
    right: -20%;
    bottom: -20%;
  }
  .sec2__row--text {
    padding-left: 100px;
  }
  .sec4__row .categories {
    margin: 47px 0 50px;
  }
  footer .row1 .container,
  footer .row2 .container {
    padding: 30px 40px;
  }
}/*# sourceMappingURL=style.css.map */